@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');

.ion-title {
    font-family: 'Kirang Haerang', cursive;
}

.ion-content {
    font-family: 'Roboto', sans-serif;
}

.connectedPlayer {
    padding-left: 15px;
    padding-top: 5px;
}